PORT=5000
MONGO_URI=mongodb+srv://ajitbirajdar1108:Ajit%401108@cluster0.1wbh0kg.mongodb.net/retailx?retryWrites=true&w=majority
JWT_SECRET=secret123
WHATSAPP_PROVIDER=mock
WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
OWNER_WHATSAPP_NUMBER=your_owner_whatsapp_number
OWNER_MOBILE=your_owner_mobile_number
ADMIN_WHATSAPP_NUMBER=your_admin_whatsapp_number
ADMIN_MOBILE=your_admin_mobile_number
ML_PREDICTION_URL=http://localhost:8000/predict
